/* Global Styles */
*{
	cursor: crosshair;
	font-family: 'Rokkitt', serif;
	margin: 0;
	padding: 0;
}
body{
	/* background-image: url(../img/bg.jpg); */
	background-color: #333;
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
}

/* Navigation */
nav{
	font-size: 16px;
	color: #ffffff;
	padding: 20px 0;
	display: flex;
}
nav a{
	font-weight: 700;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
}
nav a:hover{
	text-decoration: underline;
}
nav p{
	font-weight: 700;
	padding: 10px;
}
nav div{
	display: inline-block;
	vertical-align: middle;
	justify-content: space-between;
}
nav .logo{
	text-align: left;
}

nav .more-info{
	text-align: right;
}

/* Blinking Cursor */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/* More Info */
#about{
	border: 2px solid #fff;
	display: none;
	padding: 10px;
	color: #fff;
}
#about #info-close{
	text-align: center;
	margin: 0 auto;
	width: 20%;
	text-decoration: none;
	color: #fff;
	padding: 5px;
	border: 1px solid #fff;
}
#about #info-close:hover{
	color: #333;
	background-color: #FFF;
}

/* Content */
#content{
	padding: 50px 0;
	text-align: center;
	color: #fff;
}
#content h2{
	overflow: hidden;
	margin: 0 auto;
	animation: 
		typewriter 3.5s steps(100, end);
}
@keyframes typing{
	from {width: 0 }
	to { width: 100% }
}

#proceed-btn{
	position: fixed;
	text-align: center;
	width: 20%;
	left: 40%;
	text-decoration: none;
	color: #fff;
	padding: 10px;
	border: 1px solid #fff;
	bottom: 20%;
}
#proceed-btn:hover{
	color: #333;
	background-color: #fff;
}

/* Console */
#console{
	font-weight: 400;
	height: 600px;
	width: 90%;
	margin: 0 auto;
	overflow: auto;
	border-radius: 10px;
	text-align: left;
	padding: 10px;
	/* background-color: rgba(149, 165, 166, 0.7); */
	color: #fff;
}

#console p{
	font-size: 20px;
	padding: 10px 100px;
}
#console input{
	display: inline-block;
}
#console form{
	margin: 0 auto;
	width: 500px;
	display: block;
	margin-top: 0em;
}
#console #command_line{
	font-size: 16px;
	padding: 5px;
}


/* Footer */
footer{
	position: absolute;
	bottom: 0;
	margin: 20px 0;
	width: 100%;
	padding: 10px 0;
	color: #ffffff;
	text-align: center;
}
footer .container p{
	font-size: 14px;
}