/* Global Styles */
*{
	cursor: crosshair;
	font-family: 'Josefin Slab', serif;
	margin: 0;
	padding: 0;
}
body{
	background-image: url(/img/3840x2160-misc_lord_of_the_rings_middle_earth_map-24533.jpg);
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
}

/* Navigation */
nav{
	font-size: 16px;
	color: #ffffff;
	padding: 20px 0;
	display: flex;
}
nav a{
	color: #ffffff;
	text-decoration: none;
}
nav a:hover{
	text-decoration: overline;
}
nav p{
	font-size: 16px;
	padding: 10px;
}
nav div{
	display: inline-block;
	vertical-align: middle;
	justify-content: space-between;
}
nav .logo{
	text-align: left;
}

nav .more-info{
	text-align: right;
}

/* Blinking Cursor */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/* More Info */
#about{
	display: none;
	padding: 10px;
	border: 1px solid #fff;
	color: #fff;
}
#about #info-close{
	text-align: center;
	margin: 0 auto;
	width: 20%;
	text-decoration: none;
	color: #fff;
	padding: 5px;
	border: 1px solid #fff;
}
#about #info-close:hover{
	color: #333;
	background-color: #fff;
}

/* Content */
#content{
	padding: 50px 0;
	text-align: center;
	color: #fff;
}
#content h2{
	overflow: hidden;
	margin: 0 auto;
	animation: 
		typewriter 3.5s steps(100, end);
}
@keyframes typing{
	from {width: 0 }
	to { width: 100% }
}

#proceed-btn{
	position: absolute;
	text-align: center;
	margin: 0px auto;
	width: 20%;
	text-decoration: none;
	color: #fff;
	padding: 10px;
	border: 1px solid #fff;
}
#proceed-btn:hover{
	color: #333;
	background-color: #fff;
}
#content .race-choices{
	border-radius: 0;
	border: none;
	padding: 10px;
	font-size: 16px;
	color: #fff;
	border: 2px solid #fff;
	background-color: transparent
}
#answer-box{
	color: #fff;
	margin: 30px 0;
}
#answer-box input{
	margin: 10px;
}
#answer-box .answer{
	display: inline-block;
	text-align: center;
	border: 2px solid #fff;
	color: #fff;
	background-color: transparent;
	font-size: 16px;
	padding: 10px;
	width: 50%;
}
#answer-box input{
	text-align: center;
	border: 2px solid #fff;
	color: #fff;
	background-color: transparent;
	font-size: 16px;
	width: 50%;
	padding: 10px 20px;
}
#answer-box .submit:hover{
	text-align: center;
	color: #333;
	background-color: #fff;
	font-size: 16px;
	padding: 10px 20px;
}


/* Footer */
footer{
	position: absolute;
	bottom: 0;
	margin: 20px 0;
	width: 100%;
	padding: 10px 0;
	color: #ffffff;
	text-align: center;
}
footer .container p{
	font-size: 14px;
}